.chat{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    height: 100vh;
    color: white;
}
.chatFriends{
    width: 20%;
    padding: 15px;
    background-color: #080808;
}
.chatFriendCard{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    background-color: #333;
    border-radius: 15px;
    transition: 0.1s;
}
.chatFriendCard:hover{
    background-color: #222;
}
.chatFriendImg{
    height: 100%;
    border-radius: 50%;
}
.chatFriendName{
    font-size: 30px;
    padding: 20px;
}
.chatSpace{
    background-color: #111;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatMessages{
    display: flex;
    flex-direction: column;
}
.chatMessage{
    font-size: 24px;
    margin: 15px;
    padding: 15px;
    background-color: #606060;
    border-radius: 20px;
    align-self: start;
}
.chatMessageI{
    background-color: #454545;
    align-self: end;
}
.chatInput{
    width: 90%;
    height: 50px;
    padding: 10px;
}
.chatSendBtn{
    width: 10%;
    height: 50px;
    border: none;
    background-color: #79002e;
    color: white;
    font-size: 20px;
}