.profile{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
}
.profileContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    height: 40%;
}
.profileContent{
    display: flex;
    flex-direction: column;
    width: 85%;
    color: white;
    justify-content: space-around;
}
.profilePhoto{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.profileName{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.profileTitle{
    font-weight: 900;
}
.profileText{
    font-weight: 500;
}
.profileSubBtn{
    background: #fe2c55;
    color: white;
    padding: 5px 15px; 
    border: none;
    border-radius: 5px;
}
.profileInfo{
    display: flex;
    flex-direction: row;

}
.profileInfoCard{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.profileInfoText{
    padding-right: 5px;
}
.postContainer{
    width: 100%;
}
.postCard{
    height: 50px;
    background-color: #333;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.postDate{
    align-self: end;
    color: grey;
}